@font-face {
  font-family: 'Monocraft';
  src: url('Monocraft.ttf') format('truetype');
}

body {
  font-family: 'Monocraft', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg-color: #282c34;
  --text-color: white;
}

.light-mode {
  --bg-color: #f5f5f5;
  --text-color: #333;
}

.clock-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, box-shadow 0.3s;
}

.light-mode .clock-container {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.date {
  font-size: 2em;
  margin-bottom: 10px;
}

.clock {
  font-size: 3em;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  transition: background-color 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #21a1f1;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}
